html, body { overscroll-behavior: none; }

* {
  -webkit-font-smoothing: antialiased;
}

  html {opacity:1;transition:opacity .2s ease .2s;}	
  html.wf-loading body {opacity:0;}

 .page-load__wrap {
 display: flex;
}

html, body { overscroll-behavior: none; }

* {
  -webkit-font-smoothing: antialiased;
}

  html {opacity:1;transition:opacity .2s ease .2s;}	
  html.wf-loading body {opacity:0;}

 .page-load__wrap {
 display: flex;
}

	.main__nav {
  	mix-blend-mode: difference;
	}
}

::selection {background: #F7DA4A; color: #FFFFFF; text-shadow: none;}

/* Add all your CSS below */

/* This converts everything that's EM to PX at 1440px & above screen sizes */
@media only screen and (min-width: 1440px) {
body {font-size: 14px;}
}

@media only screen and (min-width: 992px) and (max-width: 1120px)  {
     p {font-size: 18.7px;}
}

.hero__moving-beat {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee 10s linear infinite;
  /* manipulate the speed of the marquee by changing "40s" line above*/
}

@keyframes marquee {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}

/* Homepage CSS */

.footer__moving-text-left {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee-left 70s linear infinite;
  /* manipulate the speed of the marquee by changing "40s" line above*/
}

@keyframes marquee-left {
  from { transform: translateX(0); }
  to { transform: translateX(-50%); }
}


.footer__moving-text-right {
  position: absolute;
  white-space: nowrap;
  will-change: transform;
  animation: marquee-right 120s linear infinite;
  /* manipulate the speed of the marquee by changing "40s" line above*/
}

@keyframes marquee-right {
  from { transform: translateX(-50%); }
  to { transform: translateX(0); }
}
